button, .button {
    cursor: pointer;
    border: 2px solid #000;
    padding: 2px 6px;
    font-size: 1rem; // 16px
    background: #fff;
    transition: background 0.3s ease;

    &:hover,
    &:focus {
        background-color: #ccc;
    }
}

input, select {
    border: 2px solid #000;
    border-radius: 2px;
    padding: 6px 8px;
    font-size: 1rem; // 16px
    background: #fff;
    width: 100%;
}

input[type='checkbox'] {
    appearance: none; // remove some of the default styles that browsers like to add
    padding: 0;
    width: 1rem; // 16px
    height: 1rem; // 16px
    margin: 0;

    &:checked {
        background: #000; // we can change this to an icon later
    }
}

label {
    + input,
    + select,
    + input[type='checkbox'] {
        margin-left: 4px;
    }
}

.form {
    &__actions {
        margin-top: 10px;
    }
}

.field {
    margin-bottom: 10px;
    
    &__label {
        padding-bottom: 6px;
    }
}


// Styles larger than 480px
@media screen and (min-width: 30rem) {
    .field {
        display: flex;
        align-items: stretch;

        &__label {
            display: flex;
            align-items: center;
            width: 25%;
            padding: 0 6px 0 0;
        }
    
        &__input {
            max-width: 300px;
        }
    }
}

@media screen and (min-width: 48rem) {
    .field {
        &__label {
            width: 17%;
        }
    }
}